@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-eriu-emerald: #1A533E;
  --color-atlantic-teal: #1C7C83;
  --color-midnight-navy: #0F2131;
  --color-slate-grey: #404040;
  --color-heather-grey: #757575;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
